/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 100%;
    line-height: 1.4;
    box-sizing: border-box;
}

*, *:before, *:after
{
    box-sizing: inherit;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
footer{
   background-color: #092a54;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.font-style { font-style: italic; }
.font-weight { font-weight: bold;}
.font-size {  font-size: 2rem;}
.line-height {line-height: 2em;}
.font-family { font-family: helvetica;}
.short-hand { font: oblique 900 3.5rem/1.5 verdana;}
sup, sub {font-size:  0.65em; line-height: 0.75em; }
/**h1:first-letter {font: normal bold 2em Arial;  }**/
.font-variant { font-variant: small-caps; }
.text-transform { text-transform: capitalize;}
.font-stretch { font-stretch:ultra-expanded; }
.text-align { text-align: right;  }
.text-indent { text-indent: 3.0rem;  }
.letter-spacing { letter-spacing: 0.5rem; }
.word-spacing { word-spacing: 0.5rem; }

header {
    margin-top: 2.1429em;
    background-repeat: repeat-x;
    
}
    ul{
      /*justify-content: space-between;*/
      list-style: none;
      font-size: 3rem;
      padding-left: 25rem;
      color: #626262;
      margin: 3rem, 0 auto;
    }

    nav a{
      text-decoration: none;
      color: #626262;
      justify-content: flex-end;
      margin-left: 2.000rem;
    }

    nav ul{
      display: flex;
    }
     header .logo{
      align-self: baseline;
      margin-top: 1.0714em;
    }

    a:link,
    a:visited,
    a:hover{
      text-decoration: none;
      color: #626262;
    }

    a:hover{
      font-weight: bolder;
    }

    .main-post{
      padding: 0 4.714em;
    }

    .post{
      width: 30em;
      margin: 0 3.285;
    }
.menu{
    position: relative;
    right: 20rem;
    bottom: 1rem;

}
.search{
    position: relative;
    right: 10rem;
    bottom: 1rem;
}
.Logo{
    top: 2rem;
    position: relative;
    padding-bottom: 3rem;
    
}

.container{
  margin-left:8.9rem;
  margin-right:4.4rem;
  background-color: white;
}
header img{
    position: relative;
}
.navigationpane{
    position: relative;
    height: 6rem;
    background-color: white;
    justify-content: space-evenly;
}
.Line-UpButton{
    right: 10rem;
}
.ticketsbutton{
    left: 10rem;
}
.Featured{
    position: relative;
    left: 50.5rem;
    background-image: url(img/backgroundTop);

}
.flex-container1{
    position: static;
    right: .5rem;
    width: 10rem;
    bottom: 1rem;
    height: 950px;
}
.Home{
    position: relative;
    justify-content: flex-start;
    top: 5rem;
    left: 5rem;
}
.flex-container2{
    margin: 60rem, 47rem;
    position: relative;
    display:flex;
    flex-flow: row wrap;
    /*background-color: white;*/
}
.imgs{
    position: static;
    flex-flow: row wrap;
    display: flex;
}
.foodanddrink,
.dance,
.Camping,
.MusicShow{
    display: flex;
	/*flex-flow:row wrap;
	flex-wrap: wrap;
	flex-direction: row;*/
	justify-content: space-between;
	align-items: center;
}
.foodanddrink,
.dance,
.Camping,
.MusicShow div{
    flex-direction: row;
}
.flex-container3{
    height: 800px;
    position: relative;
    background-color: #0158a7;
}
.flex-container4{
    height: 800rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
    align-items: center;
}
.flex-container4 div{
    flex-direction: row;
}

.popup {
    width: 85rem; 
    height: 69rem;   
    position: absolute;
    top: .05rem;
    background-image: url(../img/planyourtripbackground.png);
    background-color: blue;
    display: flex;
    flex-direction: row;
    background-repeat: none;
    text-align: center;
    text-decoration-color: #626262;
}
.box-one,
.box-two,
.box-three,
.box-four{
    order: -1;
    flex-basis: auto;
    background-color: white;
    margin: 0 auto;
    width: 15.83rem;
    height: 21rem; 
    flex-wrap: row wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.box-five,
.box-six,
.box-seven,
.box-eight{
    order: -1;
    flex-basis: auto;
    background-color: white;
    margin: 0 auto;
    width: 15.83rem;
    height: 21rem; 
    flex-wrap: row wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.box-nine,
.box-ten,
.box-eleven,
.box-twelve{
    order: -1;
    flex-basis: auto;
    background-color: white;
    margin: 0 auto;
    width: 15.83rem;
    height: 21rem; 
    flex-wrap: row wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
/*.flex-container1a{
    background-image: url(../img/FirstwaveMusicalLineUp.png);
}*/
.musicbox{
    background-color: white;
    margin: 0 auto;
    width: 30rem;
    height: 5rem; 
    flex-wrap: row wrap;
    flex-flow: flex-start;
}
.Experience{
    position: relative;
    height: 748px;
    width: 1324px;
    margin-top: 10rem;
    margin-left: 2.5rem;
}
.text{
    flex-wrap: row wrap;
    margin: 0 auto;
}
.social{
    background-color: #f5f7f9;
    height: 159rem;
    width: 134rem;
}
.flex-containerE{
    position: relative;
    left: 50.5rem;
    background-image: url(img/backgroundTop);
}
.flex-container2a{
    flex-direction: row;
    flex-wrap: row wrap;
    flex-flow: flex-start;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
